[data-theme='light'] {
  --v-card-hover-background-color: hsl(180, 14%, 92%);
  --v-card-active-background-color: hsl(201, 99%, 92%);
  --v-contrast-bg-color-component: 0;
  --v-contrast-font-color-component: 255;
}

:root:not([data-theme='light']),
:root[data-theme='dark'] {
  --v-card-hover-background-color: hsl(222, 21%, 21%);
  --v-card-active-background-color: hsl(201, 99%, 21%);
  --v-contrast-bg-color-component: 255;
  --v-contrast-font-color-component: 0;
}

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.PlayerRSWP {
  background-color: var(--pico-card-background-color) !important;
}

._ControlsRSWP {
  padding-inline: 21px;
}

.ButtonRSWP {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
  color: var(--pico-background-color);
  border: none;
  border-radius: 0;
  font-size: inherit;
}

._ControlsRSWP .rswp__devices,
._ControlsRSWP .rswp__volume {
  display: none;
}

.rswp_progress {
  position: absolute;
  left: 0.5rem;
  top: 1.5rem;
  color: var(--pico-color) !important;
}

.rswp_duration {
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  color: var(--pico-color) !important;
}

.slider,
.slider__track {
  height: 8px !important;
  background-color: var(--pico-progress-background-color) !important;
}

.slider__range {
  background-color: var(--pico-primary-background) !important;
  opacity: 0.5;
}

.slider__thumb {
  height: 16px !important;
  width: 16px !important;
  top: -8px !important;
  background-color: var(--pico-primary-background) !important;
}

.rswp__active._InfoRSWP {
  display: none;
}
