:root:not([data-theme='dark']),
[data-theme='light'] {
  --v-card-hover-background-color: hsl(180, 14%, 92%);
  --v-card-active-background-color: hsl(201, 99%, 92%);
}

:root[data-theme='dark'] {
  --v-card-hover-background-color: hsl(222, 21%, 21%);
  --v-card-active-background-color: hsl(201, 99%, 21%);
}

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
