:root:not([data-theme='dark']),
[data-theme='light'] {
  --v-card-hover-background-color: hsl(180, 14%, 92%);
  --v-card-active-background-color: hsl(201, 99%, 92%);
}

:root[data-theme='dark'] {
  --v-card-hover-background-color: hsl(222, 21%, 21%);
  --v-card-active-background-color: hsl(201, 99%, 21%);
}
